.grid {
    display: flex;
    margin: 10px ;
    flex-wrap: wrap;
    padding: 80px;
}

.gridone {
    display: flex;
    flex-direction: column;

}

.container {
    border: "1px solid #eee";
    padding: 16px;
    border-radius: 8px;
    text-align: center;
    background-color: white;
    margin: 8px 2px;

}

.sectionone {
    margin: 40px auto;
    width: 700px;
    text-align: center;
}

.heading {
    font-size: 20px;
    font-weight: 800;
}

.title {
    margin-top: 12px;
}

.price {
    font-weight: bold;
}
.btn {
    background-color: #A8DF8E;
    color: "#fff";
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
}
.category {
    background-color:#f7a600;
     color: white;
     padding: 3px 15px;
     border-radius: 20px;
     border: none;
     cursor: pointer;
     font-weight: 800;
}
.category:hover {
  background-color: #f1f5f9;
  color: black;
}
.sectiontwo{
    display: flex;
    flex-wrap: wrap;
    gap:15px;
    width: 1200px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.ulstyle{
    list-style: none;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.listyle{
    border: 1px solid #ddd;
    padding: 15px;
    width : 280px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}
.active {
  background-color: black;
  color: #ffffff;
  border-color: #2563eb;
}
.searchInput {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  max-width: 400px;
  margin-bottom: 20px;
  margin-left: 545px;
}