.container {
  max-width: 1100px;
  margin: auto;
  padding: 20px;
  background-color: white;
  height: 100vh;
}

.heading {
  margin: 20px 0;
}

.empty {
  text-align: center;
  margin-top: 40px;
}

.checkoutGrid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 30px;
}

.formSection,
.summarySection {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 8px;
}

.formSection h2,
.summarySection h2 {
  margin-bottom: 15px;
}

.formSection input {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.summaryItem {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.total {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
  font-size: 18px;
}

.placeOrderBtn {
  width: 100%;
  padding: 12px;
  background: #000;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.placeOrderBtn:hover {
  background: #333;
}

.checkoutbtn {
  width: 100%;
  padding: 12px;
  background: green;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  margin-left: 25px;

}
.payment {
  margin-top: 20px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  width: 100%;
}
.payment label{
  width: 100%;
}

.payment h2 {
  margin-bottom: 10px;
  font-size: 18px;
}

.paymentOption {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 8px;
  font-size: 15px;
  cursor: pointer;
  flex-direction: column;
}

.paymentOption input[type="radio"] {
  transform: scale(1.1);
  cursor: pointer;
  align-items: center;
}
